/*******************************************************************
NAVIGATION
*******************************************************************/


/*******************************************************************
CARDS
*******************************************************************/


/*******************************************************************
MAST-HEAD
*******************************************************************/
.mast-head {
    background-color: #e3f2fd;
    display:block;
    padding-top
    height:250px;
    width: 100%;
}
.centered-mast-text{
    text-align: center;
}

/*******************************************************************
COLORS
*******************************************************************/
body {
    color: #4A4A4A;
    background: #eee;
}

a {
    color: #4A4A4A;
}
