/*******************************************************************
NAVIGATION
*******************************************************************/
nav {
    height: 60px;
    padding:0 2%;
}

a.current {
    text-decoration: underline;
    line-height: 60px;

}

.brand-logo {
    font-size: 1.5em;
    font-weight: 300;
}

.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding-bottom:0;
  margin-bottom: 0;
  z-index: 997;
}

/*******************************************************************
CARDS
*******************************************************************/


/*******************************************************************
MAST-HEAD
*******************************************************************/
.cover-photo {
    background: url(../img/cover-photo-muvic.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.6;
    height: 65vh;
    text-align:center;
	display: flex;
	margin: 0;
	align-items: center;
	vertical-align: top;
	white-space: nowrap;

}

/*******************************************************************
INTRODUCTION
*******************************************************************/

/*******************************************************************
UPLOAD FORM
*******************************************************************/
.secondary-content {
    padding: 0 1%;
}

/*******************************************************************
COLORS
*******************************************************************/
body {
    color: #4A4A4A;
    background: #eee;
}

a {
    color: #4A4A4A;
}
