/*******************************************************************
NAVIGATION
*******************************************************************/


/*******************************************************************
CARDS
*******************************************************************/


/*******************************************************************
MAST-HEAD
*******************************************************************/
.cover-photo {
    background: url(../img/cover-photo-muvic.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.5;
    height: 100vh;
    text-align:center;
	display: flex;
	margin: 0;
	align-items: center;
	vertical-align: top;
	white-space: nowrap;

}

/*******************************************************************
INTRODUCTION
*******************************************************************/
.introduction{

}

/*******************************************************************
COLORS
*******************************************************************/
body {
    color: #4A4A4A;
    background: #eee;
}

a {
    color: #4A4A4A;
}
