/*******************************************************************
NAVIGATION
*******************************************************************/


/*******************************************************************
CARDS
*******************************************************************/


/*******************************************************************
MAST-HEAD
*******************************************************************/
.mast-head {
    background-color: #e3f2fd;
    height:250px;
    width: 100%;
}

/*******************************************************************
COLORS
*******************************************************************/
body {
    color: #4A4A4A;
    background: #eee;
}

a {
    color: #4A4A4A;
}
